*{
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Playfair+Display:wght@400;700&family=Open+Sans:wght@400;600&display=swap');
:root {
  --primary-font: 'Roboto', sans-serif; /* For headings or main content */
  --secondary-font: 'Playfair Display', serif; /* For subheadings or special text */
  --legend-font: 'Open Sans', sans-serif; /* For legends, captions, or other text */
 
}
body{
   background-color:#111;
}
